.blogs__item {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
}

.blogs__content {
  padding-left: 2rem;

}

.blogs__img {
  width: 120px;
  height: 80px;
}

.blogs__title {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.blogs__date {
  font-size: 1.3rem;
  color: #999;
  font-style: italic;
  font-weight: 300;
}