.footer {
  padding-top: 6.5rem;
  background-color: #f8f8f8;
}
.footer__inner {
  padding-bottom: 5.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}
.footer__col {
  padding: 0 1.5rem;
  &--first {
    width: 47%;
  }

  &--second {
    width: 29%;
  }
  &--third {
    width: 22%;
  }
}

.footer__logo {
  margin-bottom: 3rem;
  font-size: 4.6rem;
  font-weight: 700;
  color: #ccc;

}
.footer__text {
  font-size: 1.5rem;
  color: #999;
  margin-bottom: 3rem;

}
.footer__social {
  margin-bottom: 1.5rem;
}
.footer__social-header {
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  b {
    font-size: 1.8rem;
  }

}

.footer__social-contetnt {
  padding-top: 1.5rem;

  font-size: 1.5rem;
  color: #ccc;
  font-weight: 300;
  font-style: italic;
}
.footer__social-link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;

  font-size: 1.8rem;
  color: #95e1d3;

}
.footer__title {
  font-size: 1.4rem;
  color: #333;
  text-transform: uppercase;
  margin: 3rem 0;

}

.subscribe {
  width: 100%;
  max-width: 38rem;
  display: flex;
}
.subscribe__input {

  padding: 1.2rem;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-right: 0;
  font-family: 'Montserrat', sans-serif;

  font-size: 1.5rem;
  line-height: 1.1;
  color: #000000;
  font-style: italic;
  font-weight: 300;
  outline: none;
  &:focus {
    outline: none;
    border-color: #95e1d3;
  }
  &::placeholder {
    color: #ccc;
  }
}
@include breakpoint($desctop-bp) {
  .footer__col {
    &--first {
      width: 100%;
    }
    &--second {
      width: 50%;
    }
    &--third {
      width: 50%;
    }
  }
}
@include breakpoint($tablet-bp) {
  .footer__col {
    width: 100%;
  }
}

@include breakpoint($mobile-bp) {
  .subscribe {
    flex-wrap: wrap;
    max-width: none;
  }
  .subscribe__input {
    margin-bottom: 1rem;
    border-right: 1px solid #e7e7e7;
    width: 100%;
  }
  .btn {
    &--subscribe {
      width: 100%;
    }
  }
}