@import "../vars";
@import "../mixin";


.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
    width: 100%;
    height: 100vh; //nishvans 50% is shemtxvevashi horizontalurad
	min-height: 820px;
	position: relative;

  background: url("../img/454.png") center no-repeat;
/*	background: linear-gradient(to bottom, #F59583, #FBDE89);*/
  background-size: cover;


}
.intro__inner {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}
.intro__title {
	color: #fff;
	font-size: 10rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;

	&:after {
		content: "";
		display: block;
		width: 60px;
		height: 2px;
		background-color: #fff;
		margin: 50px auto 20px;

	}
}
.intro__suptitle {
	margin-bottom: 1rem;
	font-family: ' Kaushan Script', cursive;
	font-size: 5rem;
	color: #fff;
}

@include breakpoint($huge-bp) {
		.intro__title {
			font-size: 8rem;
		}

		.intro__suptitle {
			font-size: 5.2rem;

	}
}

@include breakpoint($desctop-bp) {
	.intro__title {
		font-size: 6rem;
	}

	.intro__suptitle {
		font-size: 3.2rem;

	}
}
@include breakpoint($tablet-bp) {

	.intro{
		min-height: 650px;
	}
}
@include breakpoint($mobile-bp) {
	.intro__title {
		font-size: 4rem;
	}

	.intro__suptitle {
		font-size: 2.2rem;

	}
	.intro{
		min-height: 650px;
	}
}