.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1.5rem;
}
/*
.logos__item {
  flex-basis: 33.33333%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}*/
.logos__item {

  padding: 0 1.5rem;
}
.logos__img {
  display: block;
  max-width: 100%;
  height: auto;
}
@include breakpoint($tablet-bp) {
  .logos {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logos__item {
    width: 50%;
    margin-bottom: 2rem;
  }
  .logos__img {
    margin: 0 auto;
  }
}