/*@import "../vars";
@import "../mixin";*/

.reviews {
  padding: 0 10rem;
  position: relative;
  .slick-slider {
    padding: 0 4rem;
  }
}
.reviews__item {
  //min-height: 21rem;
  padding-left: 18rem;
  position: relative;

}
.reviews__photo {
  display: block;
  padding: .9rem;
  border: 2px solid #95e1d3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  &--radius {
  border-radius: 50%;
  top: -30px;
  }
}
.reviews__text {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 300;
  color: #999;
}
.reviews__author {
  font-family: ' Kaushan Script', cursive;
  font-size: 2.2rem;
  color: #333;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: red;
    margin-right: 1rem;

  }
}
.slick-arrow {
  display: block;
  font-size: 0;
  color: transparent;

  border: 0;
  background: 0;
  cursor: pointer;

  position: absolute;
  top: 35%;
  z-index: 1;
  transform: translateY(-50%);

  &:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
  }

  &:focus {
    outline: 0;
  }
}

.slick-prev {
    left: 0;
    transform: rotate(-45deg);
  }
.slick-next {
    right: 0;
    transform: rotate(135deg);
  }

.slick-prev, .slick-next {
  border: 0;
  background: none;
  display: none;
}

@include breakpoint($huge-bp) {
  .reviews, .slick-slider{
    padding: 0 6rem;
  }
  .reviews__text {
    font-size: 1rem;
  }
  .reviews__item {
    padding-left: 17.5rem;
  }
}

@include breakpoint($tablet-bp) {
  .reviews, .slick-slider{
    padding: 0;
  }
  .reviews__text {
    font-size: 1.2rem;
    padding: 0;
  }
  .reviews__photo{

    width: 50px;
    height: 50px;
    position: static;
    margin: 0 auto 2rem;
    &--radius {
      width: 80px;
      height: 80px;
    }
  }
  .reviews__item {
    padding-left: 0;
  }
  .slick-arrow {
    top: 12%;
  }
  .reviews__author {
    text-align: center;
    font-size: 2rem;
  }
}