.services {
  display: flex;
  flex-wrap: wrap;

}

.services__item {
  margin-bottom: 3rem;
  width: 33.33333%;
  padding: 0 3rem 5rem 6.5rem;
  position: relative;
  &--border {
    border-bottom: 1px solid #e5e5e5;
  }
}

.services__icon {

  position: absolute;
  top: 0;
  left: 1rem;
  z-index: 1;
}

.services__tiitle {
  margin-bottom: 1rem;

  font-size: 1.5rem;
  color: #333;
  text-transform: uppercase;
}

.services__text {
  font-size: 1.5rem;
  color: #999;
  line-height: 1.5;
}

@include breakpoint($desctop-bp) {
  .services__item {
    width: 50%;
    &--border {
      border-bottom: 0;
    }
  }
}
@include breakpoint($tablet-bp) {
  .services {
    justify-content: center;
  }
  .services__item {
    width: 100%;
    max-width: 40rem;
    padding-left: 5.5rem;
    padding-right: 0;
  }
  .services__icon {
    /*position: absolute;
    top: 0;
    z-index: 1;
    left: 1rem;*/
    left: 0;
  }
}