.statistic {
  background-color: #95e1d3 ;

}
.stat {
  display: flex;
  flex-wrap: wrap;

}

.stat__item {
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  text-align: center;
  padding: 8rem 2em;
  color: #fff;
  &:last-child {
    border-right: 1px solid #b5eae0;
  }
}
.stat_count {
  margin-bottom: 1rem;

  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}
.stat__text {
  font-size: 1.5rem;
  text-transform: uppercase;
}
@include breakpoint($desctop-bp) {
  .stat {
    justify-content: center;
  }
  .stat__item {
    flex: none;
    width: 33.33333%;
    padding-top: 3rem;
    padding-bottom: 3rem;

    border: 0;
    &:last-child {
      border-right: 0;
    }
  }
}
@include breakpoint($mobile-bp) {
  .stat__item {
    width: 100%;
    border-bottom: 1px solid #b5eae0;
    &:last-child {
      border-bottom: 0;
    }
  }
  .stat_count {
    font-size: 3.8rem;
  }
}