
.wedo {
  display: flex;

}
.wedo__item {
  width: 50%;
}

/*accordion  ---- */

.accordion__item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  &--active {
    .accordion__content {
      display: block;
    }
   .accordion__header {
     border-bottom-color: #e5e5e5;
     &:after {
       transform: translateY(-50%) rotate(-45deg);
       margin-top: 5px;
     }
   }
  }
}

.accordion__header {
  padding: 1rem 1.5rem 1rem 6rem;
  border-bottom: 1px solid transparent;
 cursor: pointer;
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    top: 50%;
    right: 20px;
    z-index: 1;
    position: absolute;
    transform: translateY(-50%) rotate(135deg);
  }
}
.accordion__content {
  display: none;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
  color: #999;
}
.accordion__title {
  font-size: 1.4rem;
  color: #333;
  text-transform: uppercase;
}
.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  transform: translateY(-50%);
}

