/* Default styles */
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    //font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: #fefefe;
}
*, *:before, *:after{
    box-sizing: border-box ;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}
.page {
    overflow: hidden;
}

/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";

/*@import "../../../node_modules/bootstrap/scss/utilities/flex";
@import "../../../node_modules/bootstrap/scss/utilities/spacing";*/


/* Blocks */
@import"blocks/container";
@import"blocks/header";
@import"blocks/intro";
@import"blocks/btn";
@import"blocks/slider";
@import"blocks/section";
@import"blocks/card";
@import"blocks/statistic";
@import"blocks/services";
@import"blocks/wedo";
@import"blocks/reviews";
@import"blocks/logos";
@import"blocks/works";
@import"blocks/clients";
@import"blocks/block";
@import"blocks/footer";
@import"blocks/blogs";
@import"blocks/istagram";
@import"blocks/copyright";

@import"_vars";
@import"_mixin";